<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Two
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="contactForm" class="form">
    <div>
      <input formControlName="id" class="input-content" [(ngModel)]="this.contact.id"
        placeholder="id" readonly>
    </div>
    <div>
      <input formControlName="nome" class="input-content" [(ngModel)]="this.contact.nome"
        placeholder="nome">
    </div>
    <div>
      <input formControlName="telefone" class="input-content" [(ngModel)]="this.contact.telefone"
        placeholder="telefone">
    </div>
    <div>
      <input formControlName="email" class="input-content" [(ngModel)]="this.contact.email"
        placeholder="email">
    </div>
    <ion-button slot="end" (click)="save()">
      <ion-icon name="save"></ion-icon>
    </ion-button>
  </form>
  

</ion-content>
